@import 'variables.scss';

h1 {
    color: $light-blue;

    &:nth-of-type(2){
        margin-top: 70px;
    }
}

p {
    margin: 10px 250px 10px 50px;
    font-weight: 100;
    font-size: 1.15rem;
    line-height: 1.7rem;

    a {
        color: $mid-blue;
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 1px solid $mid-blue;
        font-weight: 100;
    }
}

.wrapper {
    margin: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    column-gap: 150px;
    
    .skill-wrapper {
        h3 {
            font-weight: 100;
            color: white;
            font-size: 1.2rem;
            margin-bottom: 7px;
        }
    }
}

img {
    height: 500px;
    width: auto;
    position: fixed;
    right: 15px;
    bottom: 0;
}


@media screen and (max-width: 480px) {
    p {
        margin: 10px 20px 10px 50px;
    }
    
    .wrapper {
        display: block;
        
        .skill-wrapper {
            h3 {
                margin-bottom: 10px;
            }
        }
    }
    
    img {
        height: 300px;
    }
}
