@import 'variables.scss';

body main {
    padding: 0;
    height: 100vh;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .content {
        margin-top: -100px;
    }
    
    h1 {
        color: $light-blue;
        margin: 0;
    }

    .icons-contact {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 20px 0;
        gap: 50px;
                
        svg {
            width: 50px;
            height: auto;
            fill: darken(white, 75%);
            transition-property: transform, fill;
            transition: 0.2s ease-in-out;

            &:hover {
                transform: translate(0, -5px);
                cursor: pointer;
                path {
                    fill: white;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
   .main-wrapper {
        .icons-contact {
            gap: 40px;

            svg {
                width: 40px;
            }
        }
   }
}
