body main {
  padding: 0;
  height: 100vh;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main-wrapper .content {
  margin-top: -100px;
}

.main-wrapper h1 {
  color: #ADE2F7;
  margin: 0;
}

.main-wrapper .icons-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px 0;
  gap: 50px;
}

.main-wrapper .icons-contact svg {
  width: 50px;
  height: auto;
  fill: #404040;
  -webkit-transition-property: fill, -webkit-transform;
  transition-property: fill, -webkit-transform;
  transition-property: transform, fill;
  transition-property: transform, fill, -webkit-transform;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.main-wrapper .icons-contact svg:hover {
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  cursor: pointer;
}

.main-wrapper .icons-contact svg:hover path {
  fill: white;
}

@media screen and (max-width: 480px) {
  .main-wrapper .icons-contact {
    gap: 40px;
  }
  .main-wrapper .icons-contact svg {
    width: 40px;
  }
}
