@import 'variables.scss';

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-wrapper {
        width: auto;
        margin-left: 130px;
        p {
            font-size: 1.3rem;
            font-weight: 100;
            text-transform: uppercase;
    
            &.name {
                font-size: 5rem;
                font-weight: 300;
            }
    
            &.right {
                text-align: end;
            }
        }
    }
    img {
        height: 350px;
        width: auto;
        position: relative;
        left: -90px;
        top: 5px;

    }
}


@media screen and (max-width: 480px) {
    main {
        .main-wrapper {
            margin-left: 70px;
            p {
                font-size: 1.1rem;
        
                &.name {
                    font-size: 3rem;
                }
            }
        }
        img {
            height: 200px;
            left: -60px;
    
        }
    }
}
