header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100vw;
  height: 60px;
  padding: 30px 10px 0px 0;
}

header a {
  color: #737373;
  margin-right: 20px;
  font-weight: 300;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover {
  color: #96daf5;
}

header a.current-page {
  color: #ADE2F7;
  font-weight: 400;
}
