@import 'variables.scss';

main {
    h1{
        color: $light-blue;
    }

    aside {
        display: flex;
        margin: -10px 0 30px 50px;

        p {
            margin-right: 15px;
            font-weight: 300;

            &:not(:first-child) {
                cursor: pointer;

                &:hover {
                    color: $light-blue;
                }
            }
        }
        .active {
            color: $mid-blue;
        }
    }

    .project-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 10px 120px 70px 50px;
        

        .text-wrapper {
            h4 {
                font-size: 2rem;
                font-weight: 300;
                text-transform: uppercase;
            }
            .project-media {
                font-weight: 100;
                font-size: 1rem;
                margin-top: 3px;

            }
            .project-year {
                font-weight: 100;
                font-size: 0.8rem;
            }
            .project-description {
                font-weight: 100;
                font-size: 1.15rem;
                line-height: 1.6rem;
                margin: 15px 0;
            }

            button {
                margin: 10px 0 0 0;
                color: $light-blue;
                background-color: transparent;
                border: 1px solid $light-blue;

                &:hover {
                    color: $dark-grey;
                    background-color: $light-blue;
                    cursor: pointer;
                }
            }

            .project-links {
                display: flex;
                align-items: baseline;

                .code-link {
                    color: $light-blue;
                    text-decoration: none;
                    font-weight: 300;
                    margin-left: 20px;
    
                    &:hover {
                        color: $mid-blue;
                    }
    
                }
            }
        }

        img {
            width: 35%;
            height: 100%;
            margin-left: 40px;
            border-radius: 2px;
        }

    }
    .hidden {
        transition: 0.2s ease-in-out;
        display: none;
    }
}


@media screen and (max-width: 480px) {
    main {
        aside {
            margin-bottom: 50px;
        }

        .project-wrapper {
            flex-direction: column;
            flex-direction: column-reverse;
            margin-right: 70px;
            margin-bottom: 100px;
    
            .text-wrapper {
                .project-description {
                    font-size: 1rem;
                    line-height: 1.4rem;
                }
    
                button {
                    width: 100%;
                }
    
                .project-links {
                    flex-direction: column-reverse;
                    align-items: unset;

                    .code-link {
                        margin: 0;
                        margin-bottom: 10px;
                    }
                }
            }
    
            img {
                width: 100%;
                margin: 0;
                margin-bottom: 15px;
            }
    
        }
    }
}
    